.dropdown .nav-link {
  @apply rounded-none;
}

.dropdown {
  overflow: hidden;
}

.dropdown-content {
  position: absolute;
  min-width: 150px;
  z-index: 1;
}

.hoverable.dropdown-content {
  display: none;
}

.dropdown-btn {
  text-align: left;
}

.dropdown-content {
  float: none;
}

.hoverable.dropdown:hover .dropdown-content {
  display: flex;
  flex-direction: column;
}

@media (max-width: 1024px) {
  .dropdown-btn {
    width: 100%;
  }

  .dropdown-content {
    position: relative;
  }
}
