.active {
  @apply text-lg p-2 lg:inline-block lg:mt-0 text-white bg-red-600 rounded-lg shadow;
}

.nav-link {
  @apply block my-2;
}

.nav-link:not(.active) {
  @apply rounded-lg hover:shadow block text-lg p-2 lg:inline-block focus:outline-none text-gray-400 hover:bg-red-600 hover:text-white active:bg-red-800;
}

.dropdown .nav-link {
  @apply rounded-none;
}

.dropdown {
  overflow: hidden;
}

.dropdown-content {
  position: absolute;
  display: none;
  min-width: 150px;
  z-index: 1;
}

.dropdown-btn {
  text-align: left;
}

.dropdown-content {
  float: none;
}

.dropdown:hover .dropdown-content {
  display: flex;
  flex-direction: column;
}

@media (max-width: 1024px) {
  .dropdown-btn {
    width: 100%;
  }

  .dropdown-content {
    position: relative;
  }
}
